@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

* {
	margin: 10;
	padding: 10;
}
body {
	font-family: "Lora";
}

html {
	scroll-behavior: smooth;
}

p {
	color: #0077b6;
}

/*Desktop Nav*/
nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 20vh;
}
.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}
a:hover {
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(37, 150, 190);
}